# Ignore virtual environment
venv/

# Ignore Python bytecode files, caches, and pycache
__pycache__/
*.pyc

# Ignore environment-specific files
.env

# Ignore IDE or editor specific files and directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db
